[submodule "sequoia-systems"]
	path = sequoia-systems
	url = https://github.com/stanford-ssi/sequoia-systems.git
[submodule "sequoia-gnc"]
	path = sequoia-gnc
	url = https://github.com/stanford-ssi/sequoia-gnc.git
[submodule "sequoia-avionics"]
	path = sequoia-avionics
	url = https://github.com/stanford-ssi/sequoia-avionics.git
[submodule "sequoia-structures"]
	path = sequoia-structures
	url = https://github.com/stanford-ssi/sequoia-structures.git
[submodule "sequoia-software"]
	path = sequoia-software
	url = https://github.com/stanford-ssi/sequoia-software.git
