[submodule "sequoia-systems"]
	path = systems
	url = https://github.com/stanford-ssi/sequoia-systems.git
[submodule "sequoia-gnc"]
	path = gnc
	url = https://github.com/stanford-ssi/sequoia-gnc.git
[submodule "sequoia-avionics"]
	path = avionics
	url = https://github.com/stanford-ssi/sequoia-avionics.git
[submodule "sequoia-structures"]
	path = structures
	url = https://github.com/stanford-ssi/sequoia-structures.git
[submodule "sequoia-software"]
	path = software
	url = https://github.com/stanford-ssi/sequoia-software.git
